header { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  /* background-color: black; */
}

main {
  }

/* h5 {
  text-align: left;
} */

th {
  text-align: center;
}

nav {
  /* margin-left: 25px;
  margin-right: 25px; */
  text-align: center;
}

article {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 1rem;
  
}

section {
  padding-top: 1rem;
  align-content: center;
  text-align: left;
}

tr:hover { 
  background: #1EAEDB; 
}
td a { 
  display: block; 
}

/* 
more info - https://css-tricks.com/almanac/properties/c/content/
ticket - https://github.com/phase-0/phase-0/issues/5228
div::before {
  content: url(../images/wireframe-blog-index-mobile.jpg);
} */